/* WORK */

#myWork {
  margin-top: 120rem;
  transition: 1s ease-in-out;
  z-index: 10;

  background-image: linear-gradient(
    #5b0a9181,
    #4d0f7788,
    #3f115f81,
    #3111476e,
    #230f316c,
    #17091c6c,
    rgba(0, 0, 0, 0.438)
  );
  width: 100%;
  height: 100%;
  top: 0;
  .work_prev {
    overflow: hidden;
    cursor: default;
    width: 80%;
    height: 80%;
    background-color: #000;
    .work {
      /*   border: solid 1px red; */

      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 5px;
      opacity: 1;
      img {
        width: 100%;
        opacity: 0.2;
      }
      video {
        margin-top: -1.3rem;
        opacity: 0.2;
      }
      .work_title {
        cursor: pointer;
        z-index: 10;
        a {
          width: 100%;
          color: #ece4fa;
          font-size: 3rem;
          top: 3rem;

          text-decoration: none;
          &:hover {
            /*   color: #ac7ffa; */
          }
        }
      }
    }
  }

  #close_work {
    color: $pastell_violet;
    font-size: 3rem;
    top: 2rem;
    right: 5rem;
    cursor: pointer;
    &:hover {
      color: #ece4fa;
    }
  }
}

#work_first {
  height: 100%;
}
