#contact {
  margin-left: -120rem;
  transition: 1s ease-in-out;
  z-index: 10;
  background-image: linear-gradient(
    #5b0a91f8,
    #4d0f77f6,
    #3f115ff6,
    #3111476e,
    #230f316c,
    #17091c6c,
    rgba(0, 0, 0, 0.438)
  );
  width: 100%;
  height: 100%;
  top: 0;
  .contact {
    cursor: default;
    width: 90%;
    height: 90%;
    /*     background-color: #000; */
  }
}

/* CONTACT */
.contact_me {
  border: solid 1px $greyish_violet;
  background-color: rgba(17, 0, 29, 0.787);
  width: 80%;
  height: 60%;
  &-nameEtc {
    /*  background-color: $pastell_violet; */
    width: 100%;
    height: 5rem;
  }
  &-message {
    /*  background-color: $brighter_violet; */
    width: 100%;
    height: 30rem;
  }
}
form label {
  color: #fff;
  font-size: 1.2rem;
  margin: 2rem;
}

form input {
  width: 15rem;
  height: 2rem;
  text-align: center;
  &:active {
    border: none;
  }
}

textarea {
  width: 50%;
}

input[type="submit"],
input[type="reset"] {
  margin: 1.5rem;
  letter-spacing: 5px;
  &:hover {
    background-color: $greyish_violet;
  }
}

#close_contact {
  top: 10rem;
  right: 10rem;
  color: $pastell_violet;
  font-size: 3rem;
  cursor: pointer;
  &:hover {
    color: #ece4fa;
  }
}
