@keyframes onLoadWidth {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes onLoadHeight {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes AnnaHelfferich {
  from {
    color: #000;
    letter-spacing: 5px;
    font-weight: 300;
  }
  to {
    color: $greyish_violet;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

@keyframes colorA {
  0% {
    color: $greyish_violet;
  }

  100% {
    color: #8766c0;
  }
}
