body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: none;
}

/* ASIDE LEFT */
.left_name {
  /* border: solid 1px $brighter_violet; */
  width: 30%;
  height: 100%;

  h1 {
    font-size: 7rem;
    font-weight: 300;
    color: $greyish_violet;
    animation: AnnaHelfferich 4s forwards;
  }
}

.selection {
  border: solid 1px $brighter_violet;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  /* ABOUT ME */
  .about_me {
    border: solid 1px $brighter_violet;
    width: 20%;
    height: 80%;
    h1 {
      padding: 50px;
      /* border: solid 1px white; */
      color: $greyish_violet;
      font-size: 5rem;
    }
    h2 {
      width: 100%;
      /*   border: solid 1px white; */
      color: #000;
      font-size: 5rem;
    }
  }
  /* MY WORK */
  .my_work {
    border: solid 1px $brighter_violet;
    width: 20%;
    height: 80%;
    h1 {
      padding: 50px;
      /* border: solid 1px white; */
      color: $greyish_violet;
      font-size: 5rem;
    }
    h2 {
      width: 100%;
      /*     border: solid 1px white; */
      color: #000;
      font-size: 5rem;
    }
  }
  /* CONTACT */
  .contact {
    border: solid 1px $brighter_violet;
    width: 20%;
    height: 80%;
    h1 {
      padding: 50px;
      /* border: solid 1px white; */
      color: $greyish_violet;
      font-size: 5rem;
    }
    h2 {
      width: 100%;
      /*    border: solid 1px white; */
      color: #000;
      font-size: 5rem;
    }
  }
}

#translate {
  transition: 1s ease-in-out;
}

/* CURSOR */
.cursor {
  top: 0;
  background-color: $greyish_violet;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  z-index: -5;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition-duration: 50ms;
  transition-timing-function: ease-in-out;
}

.bigger_cursor {
  width: 20rem;
  height: 20rem;
}

/* VIDEO */
.anna_portrait {
  display: none;
  top: 0;
  z-index: -10;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
}

.anna_work {
  display: none;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
}
.anna_contact {
  display: none;
  height: 100%;
}

.lineOne {
  height: 1px;
  background-color: $brighter_violet;
  top: 2rem;
  left: 30%;
  animation: onLoadWidth 2s ease-in-out forwards;
}
.lineTwo {
  width: 1px;
  background-color: $pastell_violet;
  top: 3rem;
  left: 30%;
  animation: onLoadHeight 2s ease-in-out forwards;
}
