$darkes_violet: #3a3347;
$dark_violet: #4a3c63;
$violet: #604c82;
$brighter_violet: #755d9e;
$pastell_violet: #8a7ba5;
$greyish_violet: #d5c2f6;
$light_grey: #a9a5b1;

/* FONTS */

$main_font: "Raleway", sans-serif;
